.services-submenu {
  width: 100%;
  height: 25vh;
  left: 0;
  justify-content: center;
  position: absolute;
  top: 85px;
  background: whitesmoke;
  list-style: none;
  text-align: start;
  color: Black;
  transition: all 0.4s ease-out;
  box-shadow: 0 2px 30px 0 rgb(0 0 0 / 20%);
  transition-property: opacity, visibility, height;
  transition-duration: 0.5s;
}
.services-submenu:hover {
  height: 50vh;
}
.services-submenu li {
  background: rgb(0, 212, 212);
  cursor: pointer;
  border-bottom: 5px solid red;
}

.services-submenu li a:hover {
  background: rgb(0, 175, 175);
}

.services-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}
