@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap');

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  }

  .nav-items {
    width: 100%;
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height:40px;
  }
  
  .nav-item a {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 6px 16px;
  }
  
  .nav-item a:hover {
    color: gray;
    /* border-bottom: 3px solid red; */
  }
  